
* {
margin: 0;
padding: 0;
font-family: 'poppins',sans-serif;
scroll-behavior: smooth;
box-sizing: border-box;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background-color: black;
  display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}

.logo
{
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Rajdhani', sans-serif;
  
}

nav a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  font-family: 'Rajdhani', sans-serif;
}

nav a:hover,
nav a.active{
  color: aqua;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(70, 80, 118);
  
  color: white;
  font-weight: 700;
}

section:nth-child(odd){
background:  rgb(75, 94, 162);
}
